@media screen and (max-width: 1220px) {
    .box-card{
        gap: 2%;
    }

    .brani-card{
        width: calc(94%/4);
    }
}

@media screen and (max-width:878px) {
    .box-card{
        gap: 2%;
    }

    .brani-card{
        width: calc(96%/3);
    }
}


@media screen and (max-width: 639px){
    .box-card{
        gap: 2%;
    }

    .brani-card{
        width: calc(98%/2);
    }

    .img-album::after{
        display: none;
    }

    .brani-card:hover i{
        display: none;
    }
    
}

@media screen and (max-width: 552px) {
    .foot-left-text p{
        width: 35px;
    }

    .foot-left-text h4{
        font-size: 10px;
    }

    .box-song{
        text-align:start;
    }

    .left-icon-song{
        flex-direction: column;
        row-gap: 5px;
        justify-content: center;

    }

    .box-song img{
        width: 30px;
    }


    /* sidebar */

    .side-bar{
        width: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        display: none;
    }

    .logo-small{
        display: block;
    }

    .navigazione li h4{
        display: none;
    }

    .playlist{
        display: none;
    }

    .installa{
        border-bottom: none;
    }

    .installa img{
        width: 30px;
        height: 20px;
        /* padding: 0 10px; */
    }

    .installa h4{
        display: none;
    }

    .utente h3{
        display: none;
    }
}