*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    /* border: 1px solid red; */
}

li{
    list-style: none;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* main */

main{
    flex-grow: 10;
    /* border: 3px solid orange; */
    display: flex;
    height: calc(100vh - 90px);
}

.side-bar{
    width: 230px;
    background-color: rgb(1, 0, 0);
    flex-shrink: 0;
    color: rgb(154, 153, 153);
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
    flex-shrink: 0;
    /* border: 2px dashed chocolate; */
}


.logo-small{
    display: none;
    width: 30px;
}

.logo img{
   
    width: 135px;
}

.navigazione li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
}

.navigazione li:hover{
    color: white;
    cursor: pointer;
}



.navigazione li:last-child{
    padding-bottom: 0;
}

.navigazione li h4{
    font-size: 12px;

}
.navigazione li img{
    width: 25px;
    opacity: 0.5;
}

.navigazione li:hover img{
    opacity: 1;
}

.home::before{
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: rgb(187, 255, 83);
    position: absolute;
    left: 0;
    
}

.home{
    color: white;
}
#home-img{
    opacity: 1;
}

.playlist{
    flex-grow: 1;
    overflow: hidden;
}

.titolo-playlist{
    color: white;
}

.crea-playlist{
    padding: 10px 0;
    font-size: 15px;
}

.crea-playlist:hover{
    color: white;
    cursor: pointer;
}

.crea-playlist i{
    color: black;
    padding: 9px 10px;
    background-color: rgb(154, 153, 153);
    margin-right: 7px;
}

 .crea-playlist:hover i{
    background-color: white;
}


.lista-playlist{
    overflow: auto;
    height: 80%;
}

.lista-playlist li:hover{
    color: white;
    cursor: pointer;
}

.lista-playlist li{
    padding: 10px 0;
    font-size: 12px;
}

.installa{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(154, 153, 153);
    font-size: 12px;
    display: flex;
    column-gap: 10px;
    margin-bottom: -5px;
}

.installa:hover{
    color: white;
    cursor: pointer;
}

.installa img{
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

.installa:hover img{
    opacity: 1;
}


.utente{
    display: flex;
    column-gap: 10px;
    margin-bottom: -15px;
}


.utente-profile{
    background-color: rgb(154, 153, 153);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("img/profile.svg");
    background-position: center;
   
}

.utente h3{
    color: white;
}



.main-content{
    flex-grow: 8;
    background-color: rgb(22, 24, 31);
    position: relative;
    /* border: 2px dashed darksalmon; */
}

.upgrade-bar{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    /* border: 2px solid goldenrod; */
}

.button-upgrade{
    background-color: transparent;
    padding: 12px 24px;
    color: white;
    border-radius: 8888888px;
    border: 2px solid white;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top:15px;
    right: 30px;
}

.button-upgrade:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.main-song{
    height: 100%;
    padding: 100px 25px 0;
    overflow-y: scroll;

}

.nav-bar-song{
    color: rgb(154, 153, 153);
    display: flex;
    gap: 20px;
    justify-content: center;
    /* height: 60px; */
    padding-top: 20px;
    /* align-items: center; */
    white-space: nowrap;
    flex-wrap: wrap;

}

.nav-bar-song ul{
    display: contents;
}

.nav-bar-song li{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.nav-bar-song li:hover{
    color: white;
    cursor: pointer;
}

.active-nav-bar-song::after{
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: rgb(187, 255, 83);
    margin: 2px auto;
}




.box-brani{
    color: white;


}

.box-card{
    display: flex;
    gap: 2%;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.brani-card{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: calc(90%/6);
}

.img-album{
    width: 100%;
    position: relative;
}

.img-album::after{
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.brani-card:hover .img-album::after{
    opacity: 0.5;
}

.img-album img{
    display: block;
}


.img-album i{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 999999;
}

.brani-card:hover i{
    display: block;
}

.titolo-categoria{
    font-size: 25px;
    padding-top: 20px;
}

.sottotitolo-categoria{
    color: rgb(154, 153, 153);
    font-size: 12px;
    font-weight: bold;
}

.titolo-album{
    font-size: 15px;
    text-align: center;
}

.sottotitolo-album{
    color: rgb(154, 153, 153);
    margin-top: -5px;
}


.circle-img{
    border-radius: 55555555px;
    overflow: hidden;
}



/* footer */

footer{
    height: 90px;
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: space-between;
    color: white;
    column-gap: 30px;
    position: relative;
    z-index: 999999999;
    /* border: 3px solid violet; */
}

/* foot left */

.foot-left{
    width: 230px;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    column-gap: 10px;
    /* border: 3px solid rgb(0, 195, 255); */
}

.box-song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    text-align: center;
}

.box-song img{
    width: 40px;
}

.foot-left-text{
    width: 60px;
}

.foot-left-text h4{
    font-size: 12px;
}

.foot-left-text p{
    font-size: 10px;
    font-weight: bold;
}

.foot-left-text p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.left-icon-song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 13px;
}

.cuore,.cartella{
    font-size: 16px;
    height: 16px;
    /* padding: 2px; */
}



.grey{
    color:rgb(103, 103, 103);
}

.cuore:hover{
    color: white;
    cursor: pointer;
}

.cartella:hover{
    color: white;
    cursor: pointer;
}

/* foot center */

.foot-center{
    width: 36vw;
    min-width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid aquamarine; */
}

.center-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    padding: 5px 0;
    /* border: 3px solid brown; */
}

.icon-center-nav{
    font-size: 15px;
}

.play-icon{
    font-size: 30px;
    padding: 0 10px;
}

.icon-center-nav i:hover{
    transform: scale(1.1);
    cursor: pointer;
}



.time-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    /* border: 3px solid burlywood; */
}

.bar{
    height: 3px;
    background-color: rgb(182, 181, 181);
    border-radius: 30px ;
}

.bar-time{
    width: 29vw;
    min-width: 120px;
    position: relative;
}

.current-bar{
    height: 3px;
    background-color: white;
    width: 40%;
    border-radius: 30px ;

}

.bar:hover .current-bar{
    background-color: rgb(187, 255, 83);
}

.bar:hover{
    cursor: pointer;
}

.cursore-bar{
    height: 10px;
    width: 10px;
    border-radius: 9999999px;
    background-color: white;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.time-start,.time-finish{
    width: 20px;
    font-size: 11px;
}

/* foot right */

.foot-right{
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    column-gap: 10px;
    /* border: 3px solid rgb(36, 173, 173); */
}

.right-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.right-bar{
    width: 115px;
    position: relative;
}


.right-bar .cursore-bar{
    display: none;
}

.right-bar:hover .cursore-bar{
    display: block;
}

.right-icon{
    font-size: 12px;
}
