*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    border: 1px solid red;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* main */

main{
    flex-grow: 10;
    border: 3px solid orange;
    display: flex;
}

.side-bar{
    width: 230px;
    background-color: rgb(1, 0, 0);
    flex-shrink: 0;
    color: rgb(154, 153, 153);
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
    border: 2px dashed chocolate;
}


.logo{

}

.logo img{
   
    width: 135px;
}

.navigazione li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
}

.navigazione li:last-child{
    padding-bottom: 0;
}

.navigazione li h4{
    font-size: 12px;

}
.navigazione li svg{
    width: 25px;
}

.home{
    border-left: 2px solid rgb(187, 255, 83);
    padding-left: 20px;
    margin-left: -22px;
}

.playlist{
    flex-grow: 555555;
}

.titolo-playlist{
    color: white;
}

.crea-playlist{
    padding: 10px 0;
    font-size: 15px;
}

.crea-playlist i{
    color: black;
    padding: 9px 10px;
    background-color: rgb(154, 153, 153);
    margin-right: 7px;
}

.lista-playlist li{
    padding: 10px 0;
    font-size: 12px;
}

.installa{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(154, 153, 153);
    font-size: 12px;
    display: flex;
    column-gap: 10px;
    margin-bottom: -5px;
}

.installa svg{
    width: 15px;
    height: 15px;
}


.utente{
    display: flex;
    column-gap: 10px;
    margin-bottom: -15px;
}


.utente-profile{
    background-color: rgb(154, 153, 153);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("img/profile.svg");
    background-position: center;
   
}

.utente h3{
    color: white;
}



.main-content{
    flex-grow: 8;
    background-color: rgb(22, 24, 31);
    position: relative;
    border: 2px dashed darksalmon;
}

.upgrade-bar{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid goldenrod;
}

.button-upgrade{
    background-color: transparent;
    padding: 12px 24px;
    color: white;
    border-radius: 8888888px;
    border: 2px solid white;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top:15px;
    right: 20px;
}

.main-song{
    height: 100%;
    padding: 100px 50px 0 50px;
    overflow-y: scroll;

}

.nav-bar-song{
    color: rgb(154, 153, 153);
    display: flex;
    gap: 20px;
    justify-content: center;
    /* height: 60px; */
    padding-top: 20px;
    /* align-items: center; */

}

.nav-bar-song ul{
    display: contents;
}

.nav-bar-song li{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.active-nav-bar-song::after{
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: rgb(187, 255, 83);
    margin: 2px auto;
}




.box-brani{
    color: white;


}

.box-card{
    display: flex;
    gap: 30px;
    /* justify-content: center; */
    flex-wrap: wrap;
}

.brani-card{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 180px;
}

.img-album{
    width: 180px;
}

.titolo-categoria{
    font-size: 25px;
    padding-top: 20px;
}

.sottotitolo-categoria{
    color: rgb(154, 153, 153);
    font-size: 12px;
    font-weight: bold;
}

.titolo-album{
    font-size: 15px;
    text-align: center;
}

.sottotitolo-album{
    color: rgb(154, 153, 153);
    margin-top: -5px;
}


.circle-img{
    border-radius: 55555555px;
    overflow: hidden;
}



/* footer */

footer{
    height: 90px;
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: space-between;
    color: white;
    column-gap: 30px;
    /* border: 3px solid violet; */
}

/* foot left */

.foot-left{
    width: 230px;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    column-gap: 10px;
    /* border: 3px solid rgb(0, 195, 255); */
}

.box-song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    text-align: center;
}

.box-song img{
    width: 40px;
}

.foot-left-text{
    width: 60px;
}

.foot-left-text h4{
    font-size: 12px;
}

.foot-left-text p{
    font-size: 10px;
    font-weight: bold;
}

.left-icon-song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 13px;
}

.cuore,.cartella{
    font-size: 16px;
    height: 16px;
    /* padding: 2px; */
}

.grey{
    color:rgb(103, 103, 103);
}

/* foot center */

.foot-center{
    width: 36vw;
    min-width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid aquamarine; */
}

.center-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    padding: 5px 0;
    /* border: 3px solid brown; */
}

.icon-center-nav{
    font-size: 15px;
}

.play-icon{
    font-size: 30px;
    padding: 0 10px;
}



.time-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    /* border: 3px solid burlywood; */
}

.bar{
    height: 3px;
    background-color: rgb(182, 181, 181);
    border-radius: 30px ;
}

.bar-time{
    width: 29vw;
    min-width: 120px;
    position: relative;
}

.current-bar{
    height: 3px;
    background-color: white;
    width: 40%;
    border-radius: 30px ;

}

.cursore-bar{
    height: 10px;
    width: 10px;
    border-radius: 9999999px;
    background-color: white;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.time-start,.time-finish{
    width: 20px;
    font-size: 11px;
}

/* foot right */

.foot-right{
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    column-gap: 10px;
    /* border: 3px solid rgb(36, 173, 173); */
}

.right-bar{
    width: 115px;
}

.right-icon{
    font-size: 12px;
}
