*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    border: 1px solid red;
}

/* main */

main{
    flex-grow: 10;
    border: 3px solid orange;
    display: flex;
}

.side-bar{
    width: 230px;
    background-color: rgb(1, 0, 0);
    border: 2px dashed chocolate;
}

.main-content{
    flex-grow: 8;
    background-color: rgb(22, 24, 31);
    border: 2px dashed darksalmon;
}

.upgrade-bar{
    background-color: rgb(11, 14, 19);
    height: 90px;
    border: 2px solid goldenrod;
}

/* footer */

footer{
    height: 80px;
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: space-between;
    color: white;
    border: 3px solid violet;
}

.foot-left{
    max-width: 230px;
    display: flex;
    padding: 10px;
    column-gap: 46px;
    border: 3px solid rgb(0, 195, 255);
}

.box-song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    text-align: center;
}

.box-song img{
    width: 40px;
}

.foot-left-text{
    width: 60px;
}

.foot-left-text h4{
    font-size: 12px;
}

.foot-left-text p{
    font-size: 10px;
    font-weight: bold;
}

.left-icon-song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.cuore,.cartella{
    font-size: 16px;
    padding: 2px;
}

.grey{
    color:rgb(103, 103, 103);
}

.foot-center{
    max-width: 525px;
    min-width: 190px;
    display: flex;
    flex-direction: column;
    border: 3px solid aquamarine;
}

.center-nav{
    flex-grow: 1;
    border: 3px solid brown;
}

.time-bar{
    flex-grow: 1;
    border: 3px solid burlywood;
}


.foot-right{
    max-width: 230px;
    border: 3px solid rgb(36, 173, 173);
}

